<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2>Forms</h2>
                    <form action="/actions/addCategory" method="POST" id="addCategory_form">
                        <h3>Add new category:</h3>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <label for="categoryName">Category name</label>
                        <input required type="text" name="categoryName" id="categoryName" class="form-control" />
                        <label for="categoryOrder">Order</label>
                        <input required type="number" name="categoryOrder" id="categoryOrder" class="form-control" />
                        <label for="categoryImage">Image</label>
                        <input required type="text" name="categoryImage" id="categoryImage" class="form-control" />
                        <input type="submit" form="addCategory_form" class="btn btn-info" style="width: 100%; margin-top: 20px" value="Add" />
                    </form>

                    <br/><br/>
                    <a href="/actions/logout" class="btn btn-danger">Logout</a>
                    <br/><br/>
                    <a href="/actions/logout" class="btn btn-dark">Back</a>
                </div>
                <div class="col-lg-9">
                    <h2>Data</h2>
                    <br/>
                    <%if(categories.length > 0){%>
                        <table class="table table-stripes">
                            <thead>
                                <th>Category image</th>
                                <th>Category name</th>
                                <th>Category order</th>
                                <th>Is visible</th>
                                <th>Owner</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <%for(let category of categories){%>
                                    <tr>
                                        <td><img src="<%= category.categoryImage %>" style="width:100px;" /></td>
                                        <td><%= category.categoryName %></td>
                                        <td><%= category.categoryOrder %></td>
                                        <td><%= category.isVisible %></td>
                                        <td><%= category.accountId.fullname %></td>
                                        <td>
                                            <a href="/actions/removeCategory/<%= category._id %>" class="btn btn-danger">Delete</a>
                                            <a href="/dashboard/editCategory/<%= category._id %>" class="btn btn-warning">Edit</a>
                                            <a href="/dashboard/products/<%= category._id %>" class="btn btn-primary">Products</a>
                                        </td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    <%} else {%>
                        <p>There are no categories available</p>
                    <%}%>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>